body {
    font-family: Arial;
    margin: 20px;
  }
  
  .product {
    display: inline-block;
    width: 150px;
    margin: 10px;
    text-align: center;
  }
  
  .product img {
    width: 120px;
    height: 120px;
  }
  
  .btn {
    display: block;
    padding: 15px;
    background: green;
    color: white;
    margin: 10px;
    text-align: center;
    width: 200px;
  }
  